In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("end_all_data_0815.csv", encoding = "cp949")
df

,자본금,고용인원,누적투자유치금액,투자유치횟수,연매출,서비스/제품 수,설립일자,주소,연간 퇴사율,공동 창업자 수,...,순이익_2020,순이익_2021,자산_2020,자산_2021,자본_2020,자본_2021,기업명,산업군,2022기준 시장규모,투자점수
0,"2,917만원",8명,1억원,1,2.2억원,1,2020-12-21,"인천 연수구 송도과학로16번길 13-18, 718호",24.50%,1,...,-70만원,1.4억원,100만원,3.1억원,100만원,101만원,엔모션,전기차배터리,254.9조원,60
1,"3,000만원",13명,80억원,1,13.3억원,3,2020-11-18,"인천 연수구 송도미래로 30, D동 23층 2306호",0%,1,...,-100.5만원,1.9억원,"3,535.3만원",8.4억원,"2,899.5만원",2.2억원,에이치제이웨이브,자율주행차,166.2조원,1
2,1.1억원,2명,2억원,1,1.9억원,3,2019-11-18,"경남 창원시 의창구 창원대로18번길 22, 벤처동 104호, 407호",100%,1,...,-1.7억원,-2.3억원,5.4억원,3.8억원,"-9,232.2만원",-3.2억원,디알드라이브,감속기,48.2조원,1
3,1.5억원,10명,1억원,1,3.7억원,12,2016-12-30,"경기 성남시 분당구 판교로289번길 20, 2동 8층",82.10%,1,...,"3,998.8만원","1,239.5만원",4.8억원,11.2억원,1억원,1.8억원,힐스로보틱스,로봇,42.6조원,1
4,1.4억원,11명,10억원,1,5.8억원,1,2017-11-20,"서울 강남구 논현로 654, 3층",51.80%,1,...,1.6억원,2.3억원,18.7억원,58.5억원,12.7억원,48억원,로그싱크,디지털헬스케어,345.3조원,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,"4,033.8만원",93명,810억원,2,28.3억원,3,2017-12-18,서울 강남구 선릉로146길 27-7,17.10%,1,...,-18억원,-39.6억원,19.8억원,73.8억원,-18.7억원,51.6억원,칼리버스,메타버스,81.3조원,4
898,3억원,12명,50억원,1,26.5억원,0,2004-04-01,"부산 금정구 수림로19번길 21-6, 1층,2층",73.30%,1,...,6.7억원,4.4억원,21.7억원,24.8억원,19.2억원,21.7억원,와일드캣,유아신발,48.7조원,1
899,2.2억원,136명,162억원,4,"1,359.6억원",1,2016-02-04,"경기 평택시 청원로 1740, 102호",38.30%,1,...,-24.7억원,-48억원,129.4억원,393.4억원,93.7억원,295.6억원,와이엘피,화물운송,503.6조원,78
900,"6,723.1만원",7명,9억원 이상,3,0만원,1,2015-04-21,서울 서초구 서초1동 1671-2번지 4층,100%,1,...,1.7억원,-714.7만원,"7,469.6만원","1,998.8만원",-1.2억원,-1.3억원,텍스트팩토리,AI 챗봇,7.1조원,73
901,15.3억원,58명,540억원,4,34.1억원,1,2014-02-18,"충북 청주시 청원구 오창읍 연구단지로 40, 302호 미래융합기술관",92.20%,2,...,-75.7억원,-71.8억원,465.5억원,404.4억원,306.6억원,242.6억원,제이엘케이,의료 진단용 AI,21.6조원,86

In [3]:
# 중복값 확인
df.duplicated().sum()

0

In [4]:
# 결측치 확인
df.isnull().sum()

자본금            0
고용인원           0
누적투자유치금액       0
투자유치횟수         0
연매출            0
서비스/제품 수       0
설립일자           0
주소             0
연간 퇴사율         0
공동 창업자 수       0
총 투자자 수        0
최근투자유치         0
특허기술 평균등급      0
최종투자단계         0
매출액_2020       0
매출액_2021       0
영업이익_2020      0
영업이익_2021      0
순이익_2020       0
순이익_2021       0
자산_2020        0
자산_2021        0
자본_2020        0
자본_2021        0
기업명            0
산업군            0
2022기준 시장규모    0
투자점수           0
dtype: int64

In [5]:
# 데이터에 주소값이 1로 되어있는거 같아서 1데이터의 인덱스 확인
for i in df.index:
    if df['주소'][i] == "1":
        print(i)

465

In [6]:
# 주소가 1인 인덱스 465 데이터 제거
df.drop(df.index[465], axis = 0, inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 901
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   자본금          901 non-null    object
 1   고용인원         901 non-null    object
 2   누적투자유치금액     901 non-null    object
 3   투자유치횟수       901 non-null    int64
 4   연매출          901 non-null    object
 5   서비스/제품 수     901 non-null    int64
 6   설립일자         901 non-null    object
 7   주소           901 non-null    object
 8   연간 퇴사율       901 non-null    object
 9   공동 창업자 수     901 non-null    int64
 10  총 투자자 수      901 non-null    int64
 11  최근투자유치       901 non-null    object
 12  특허기술 평균등급    901 non-null    object
 13  최종투자단계       901 non-null    object
 14  매출액_2020     901 non-null    object
 15  매출액_2021     901 non-null    object
 16  영업이익_2020    901 non-null    object
 17  영업이익_2021    901 non-null    object
 18  순이익_2020     901 non-null    object
 19  순이익_2021     901 non-null    object
 20  자산_2020      901 non-null    object
 21  자산_2021      901 non-null    object
 22  자본_2020      901 non-null    object
 23  자본_2021      901 non-null    object
 24  기업명          901 non-null    object
 25  산업군          901 non-null    object
 26  2022기준 시장규모  901 non-null    object
 27  투자점수         901 non-null    int64
dtypes: int64(5), object(23)
memory usage: 204.1+ KB

In [8]:
# 특허기술 평균등급 "-" 값 0으로 바꾸기

df["특허기술 평균등급"] = df["특허기술 평균등급"].replace('-', 0)
df['특허기술 평균등급'] = df['특허기술 평균등급'].astype(float)

In [9]:
# 문자열을 숫자로 변환하는 함수 (만원 억원만)
# 돈
def parse_money_to_number(money_str):
    # 숫자와 . 을 제외한 것은 필터시켜줌
    cle_str = ''.join(filter(lambda x: x.isdigit() or x == '.' or x == '-', money_str))
    #print(money_str, cle_str)
    if money_str == '-':
        return 0
    if '만원' in money_str:
        return int(float(cle_str) * 1)
    elif '억원' in money_str:
        return int(float(cle_str) * 10000)
    elif '조원' in money_str:
        return int(float(cle_str) * 100000000)
    elif '경원' in money_str:
        return int(float(cle_str) * 1000000000000)
    else:
        return int(float(cle_str))

#어떤 컬럼을 변환할지 알려주는 함수 (돈을 수치형으로)
def money_to_int(col):
    # apply() 메서드에 인자 없이 함수를 전달하면
    # 해당 함수를 각 열의 모든 값에 적용함
    df[col+'(만원)'] = df[col].apply(parse_money_to_number)
    df.drop(col, axis = 1, inplace = True)

# 문자열을 숫자로 변환하는 함수 (만, 억)
# 최근투자유치
def parse_invest_to_number(invest_str):
    # 숫자와 . 을 제외한 것은 필터시켜줌
    cle_str = ''.join(filter(lambda x: x.isdigit() or x == '.' or x == '-', invest_str))
    #print(invest_str, cle_str)
    if invest_str == '-':
        return 0
    if invest_str == "비공개":
        return 0
    if '만' in invest_str:
        return int(float(cle_str) * 1)
    elif '억' in invest_str:
        return int(float(cle_str) * 10000)
    else:
        return int(float(cle_str))

def invest_to_int(col):
    # apply() 메서드에 인자 없이 함수를 전달하면
    # 해당 함수를 각 열의 모든 값에 적용함
    df[col+'(만원)'] = df[col].apply(parse_invest_to_number)
    df.drop(col, axis = 1, inplace = True)

# 인원 수
def parse_employees_to_number(employees_str):
    cle_str = ''.join(filter(lambda x: x.isdigit() or x == '.', employees_str))
    return int(float(cle_str))

# 사람을 수치형으로
def people_to_int(col):
    # apply() 메서드에 인자 없이 함수를 전달하면
    # 해당 함수를 각 열의 모든 값에 적용함
    df[col] = df[col].apply(parse_employees_to_number)
    #df.drop(col, axis = 1, inplace = True)

In [10]:
money_l = ['자본금', '누적투자유치금액', '연매출',
           '매출액_2020', '매출액_2021', '영업이익_2020', '영업이익_2021',
           '순이익_2020', '순이익_2021', '자산_2020', '자산_2021',
           '자본_2020', '자본_2021', '2022기준 시장규모']
money_2_l = ['최근투자유치']
people_l = ['고용인원', '연간 퇴사율']

all_col = money_l + money_2_l + people_l

for col in all_col:
    if col in money_l:
        money_to_int(col)
    elif col in money_2_l:
        invest_to_int(col)
    else:
        people_to_int(col)
    #print(col)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 901
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             901 non-null    int64
 1   투자유치횟수           901 non-null    int64
 2   서비스/제품 수         901 non-null    int64
 3   설립일자             901 non-null    object
 4   주소               901 non-null    object
 5   연간 퇴사율           901 non-null    int64
 6   공동 창업자 수         901 non-null    int64
 7   총 투자자 수          901 non-null    int64
 8   특허기술 평균등급        901 non-null    float64
 9   최종투자단계           901 non-null    object
 10  기업명              901 non-null    object
 11  산업군              901 non-null    object
 12  투자점수             901 non-null    int64
 13  자본금(만원)          901 non-null    int64
 14  누적투자유치금액(만원)     901 non-null    int64
 15  연매출(만원)          901 non-null    int64
 16  매출액_2020(만원)     901 non-null    int64
 17  매출액_2021(만원)     901 non-null    int64
 18  영업이익_2020(만원)    901 non-null    int64
 19  영업이익_2021(만원)    901 non-null    int64
 20  순이익_2020(만원)     901 non-null    int64
 21  순이익_2021(만원)     901 non-null    int64
 22  자산_2020(만원)      901 non-null    int64
 23  자산_2021(만원)      901 non-null    int64
 24  자본_2020(만원)      901 non-null    int64
 25  자본_2021(만원)      901 non-null    int64
 26  2022기준 시장규모(만원)  901 non-null    int64
 27  최근투자유치(만원)       901 non-null    int64
dtypes: float64(1), int64(22), object(5)
memory usage: 204.1+ KB

In [12]:
# 기업명 컬럼 제거
df.drop("기업명", axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 901
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             901 non-null    int64
 1   투자유치횟수           901 non-null    int64
 2   서비스/제품 수         901 non-null    int64
 3   설립일자             901 non-null    object
 4   주소               901 non-null    object
 5   연간 퇴사율           901 non-null    int64
 6   공동 창업자 수         901 non-null    int64
 7   총 투자자 수          901 non-null    int64
 8   특허기술 평균등급        901 non-null    float64
 9   최종투자단계           901 non-null    object
 10  산업군              901 non-null    object
 11  투자점수             901 non-null    int64
 12  자본금(만원)          901 non-null    int64
 13  누적투자유치금액(만원)     901 non-null    int64
 14  연매출(만원)          901 non-null    int64
 15  매출액_2020(만원)     901 non-null    int64
 16  매출액_2021(만원)     901 non-null    int64
 17  영업이익_2020(만원)    901 non-null    int64
 18  영업이익_2021(만원)    901 non-null    int64
 19  순이익_2020(만원)     901 non-null    int64
 20  순이익_2021(만원)     901 non-null    int64
 21  자산_2020(만원)      901 non-null    int64
 22  자산_2021(만원)      901 non-null    int64
 23  자본_2020(만원)      901 non-null    int64
 24  자본_2021(만원)      901 non-null    int64
 25  2022기준 시장규모(만원)  901 non-null    int64
 26  최근투자유치(만원)       901 non-null    int64
dtypes: float64(1), int64(22), object(4)
memory usage: 197.1+ KB

날짜 변환

In [13]:
from datetime import datetime

# 문자열인 설립일자를 날짜 객체형태로 변환
def parse_founding_date(date_str):
    return datetime.strptime(date_str, '%Y-%m-%d')

# 두날짜의 차이를 구하는 함수
def calculate_years_diff(founding_date):
    today = datetime.today()
    diff = today.year - founding_date.year
    return diff

In [14]:
# 설립일자 컬럼을 날짜 형식으로 변환
df['설립일자'] = df['설립일자'].apply(parse_founding_date)

# 년차로 변환
df['년차'] = df['설립일자'].apply(calculate_years_diff)

df.drop('설립일자', axis = 1, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 901
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             901 non-null    int64
 1   투자유치횟수           901 non-null    int64
 2   서비스/제품 수         901 non-null    int64
 3   주소               901 non-null    object
 4   연간 퇴사율           901 non-null    int64
 5   공동 창업자 수         901 non-null    int64
 6   총 투자자 수          901 non-null    int64
 7   특허기술 평균등급        901 non-null    float64
 8   최종투자단계           901 non-null    object
 9   산업군              901 non-null    object
 10  투자점수             901 non-null    int64
 11  자본금(만원)          901 non-null    int64
 12  누적투자유치금액(만원)     901 non-null    int64
 13  연매출(만원)          901 non-null    int64
 14  매출액_2020(만원)     901 non-null    int64
 15  매출액_2021(만원)     901 non-null    int64
 16  영업이익_2020(만원)    901 non-null    int64
 17  영업이익_2021(만원)    901 non-null    int64
 18  순이익_2020(만원)     901 non-null    int64
 19  순이익_2021(만원)     901 non-null    int64
 20  자산_2020(만원)      901 non-null    int64
 21  자산_2021(만원)      901 non-null    int64
 22  자본_2020(만원)      901 non-null    int64
 23  자본_2021(만원)      901 non-null    int64
 24  2022기준 시장규모(만원)  901 non-null    int64
 25  최근투자유치(만원)       901 non-null    int64
 26  년차               901 non-null    int64
dtypes: float64(1), int64(23), object(3)
memory usage: 197.1+ KB

주소 변환

In [16]:
# 주소데이터에 대전광역시라고 써있는게 있고 대전이라고 써있는게 있었음
# 그래서 서울 대전 제주 이런식으로 규칙을 맞춰줌
def omit_address(adress_str):
    cle_l = adress_str.split(" ")
    if cle_l[0] == "서울시":
        cle_l[0] = "서울"
    elif cle_l[0] == "대전광역시":
        cle_l[0] = "대전"
    elif cle_l[0] == "서울특별시":
        cle_l[0] = "서울"
    elif cle_l[0] == "제주특별자치도":
        cle_l[0] = "제주"
    elif cle_l[0] == "부산광역시":
        cle_l[0] = "부산"
    elif cle_l[0] == "강원특별자치도":
        cle_l[0] = "강원"
    elif cle_l[0] == "인천광역시":
        cle_l[0] = "인천"

    cle_str = ' '.join([cle_l[0], cle_l[1]])
    return cle_str

# 주소 변환
def address_to_add(col):
    # apply() 메서드에 인자 없이 함수를 전달하면
    # 해당 함수를 각 열의 모든 값에 적용함
    df[col] = df[col].apply(omit_address)

In [17]:
address_to_add("주소")

In [18]:
df['주소']

0      인천 연수구
1      인천 연수구
2      경남 창원시
3      경기 성남시
4      서울 강남구
        ...
897    서울 강남구
898    부산 금정구
899    경기 평택시
900    서울 서초구
901    충북 청주시
Name: 주소, Length: 901, dtype: object

자본잠식률 파생변수 생성

In [19]:
# 자본 잠식률 계산 공식 적용해서 자본잠식률 피쳐 생성
df['자본잠식률'] = ((df['자본금(만원)'].astype(float) - df['자본_2021(만원)'])/ df['자본금(만원)']) *100

In [20]:
# 소수점 둘째자리 반올림
df['자본잠식률'] = df['자본잠식률'].round(2)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 901
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고용인원             901 non-null    int64
 1   투자유치횟수           901 non-null    int64
 2   서비스/제품 수         901 non-null    int64
 3   주소               901 non-null    object
 4   연간 퇴사율           901 non-null    int64
 5   공동 창업자 수         901 non-null    int64
 6   총 투자자 수          901 non-null    int64
 7   특허기술 평균등급        901 non-null    float64
 8   최종투자단계           901 non-null    object
 9   산업군              901 non-null    object
 10  투자점수             901 non-null    int64
 11  자본금(만원)          901 non-null    int64
 12  누적투자유치금액(만원)     901 non-null    int64
 13  연매출(만원)          901 non-null    int64
 14  매출액_2020(만원)     901 non-null    int64
 15  매출액_2021(만원)     901 non-null    int64
 16  영업이익_2020(만원)    901 non-null    int64
 17  영업이익_2021(만원)    901 non-null    int64
 18  순이익_2020(만원)     901 non-null    int64
 19  순이익_2021(만원)     901 non-null    int64
 20  자산_2020(만원)      901 non-null    int64
 21  자산_2021(만원)      901 non-null    int64
 22  자본_2020(만원)      901 non-null    int64
 23  자본_2021(만원)      901 non-null    int64
 24  2022기준 시장규모(만원)  901 non-null    int64
 25  최근투자유치(만원)       901 non-null    int64
 26  년차               901 non-null    int64
 27  자본잠식률            901 non-null    float64
dtypes: float64(2), int64(23), object(3)
memory usage: 204.1+ KB

In [ ]:
# 데이터프레임 저장
df.to_csv("sale_end_int_all_data_0816.csv", encoding = 'utf-8', index = False)